<!DOCTYPE html>
<html>
  <head>
    <title>QHDT Control</title>
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico"/>
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css">  
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom-style.css">
  </head>
  <body>
    <div class="row" id="image-blurred-edge">
      <img src="./images/QH_logo.png"/>
    </div>
    <div class="container-fluid" id="drop-top">
      <div class="row">
        <div class="col-2" id="control-pannel">
          <div class="row" id="control-header">
            <h4>Control Pannel</h4>
          </div>
          <div class="row" id="control-row">
            <button class="btn btn-danger" id="emerg-stop">Emergency Stop</button>
          </div>
          <div class="row" id="control-row">
            <button class="btn btn-info"  id="ready-launch">Ready To Launch</button>
          </div>
          <div class="row" id="control-row" >
            <button class="btn btn-info" id="safe-approach">Safe To Approach</button>
          </div>
        </div>
        <div class="col-6" id="pod-status-pannel">
          <div class="row" style="padding: 15px;">
            <h4>Telemetry</h4>
          </div>
          <div class="row">
            
          </div>
        </div>
        <div class="col-4" id="sensors-table">
          <div class="row" id="data-row">
            <div class="col-6">
              <h4>Sensor Data</h4>
            </div>
            <div class="col-2">
              <h6>Min</h6>
            </div>
            <div class="col-2">
              <h6>Max</h6>
            </div>
            <div class="col-2">
              <h6>Actual</h6>
            </div>
          </div>
          <div class="row" id="data-row">
            <div class="col-6">
              Battery Temperature
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
          </div>
          <div class="row" id="data-row">
            <div class="col-6">
              Motor Temperature
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
          </div>
          <div class="row" id="data-row">
            <div class="col-6">
              Pod Temperature
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
          </div>
          <div class="row" id="data-row">
            <div class="col-6">
              Battery Voltage (Motor)
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
          </div>
          <div class="row" id="data-row">
            <div class="col-6">
              Battery Voltage (Electronics)
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
          </div>
          <div class="row" id="data-row">
            <div class="col-6">
              Air Tank Pressure
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
          </div>
          <div class="row" id="data-row">
            <div class="col-6">
              Vessel Pressure
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
            <div class="col-2">
              0.00
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./javascripts/index.js"></script>
  </body>
</html>
